.img-card {
  position: relative;
}

.img-card-content {
  position: absolute;
  bottom: 50px;
  max-width: 15em;

}

.img-circle {
  border-radius: 50%;
}

.img-card-circle-content {
  color: var(--color-primary);

}
