footer  {
  background-color: var(--color-primary);
  color: white;
}

.foot-nav a {
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  color: white;
}

.social-icons {
  text-align: right;
  padding-bottom: none;
  margin: 0;
}

.footer-content {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding: 3em 5em 2em 5em;
}

.copyright {
  font-size: .55rem;
  line-height: 1.3rem;
}

@media only screen and (max-width: 36em) {
  .footer-content {
    padding: 3em 0 2em 0;
  }

  .social-icons {
    text-align: center;
    margin: 0;
  }
}
