.btn {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);

  color: #fff;
}

.btn-light {
  background-color: var(--color-tertiary);
  border-color: var(--color-tertiary);

  color: #fff;
}

.btn-ghost {
  background-color: rgba(0, 0, 0, .4);
  border-color: rgba(0, 0, 0, .4);

  color: #fff;
}
