.btn-default {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);

  color: #fff;
}

.btn-green {
  background-color: var(--color-tertiary);
  border-color: var(--color-tertiary);

  color: #fff;
}

.btn-grey {
  background-color: rgba(0, 0, 0, .4);
  border: 0px;

  color: #fff;
}

.btn-ghost {
  background-color: transparent;
  border: 0px;

  color: var(--color-primary);
  text-decoration: underline;
}
