:root {
  --color-primary: #06339b;
  --color-primary-light: #00e5e5;
  --color-secondary: #f321ff;
  --color-tertiary: #00ef1f;
  --color-accent: #f6ff00;
  --color-buttons-primary: rgba(0, 0, 0, .4);
  --font-primary: "Open Sans", sans-serif;
  --font-secondary: "Roboto", sans-serif;
}

html {
  font-family: var(--font-primary);
}

h1 {
  font-family: var(--font-secondary);
  font-size: 1.9127rem;
  line-height: 2.6rem;
}

h2 {
  font-size: 1.68rem;
  line-height: 2.275rem;
}

h3 {
  font-weight: normal;
}

h4 {
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.3rem;
}

a {
  font-family: var(--font-secondary);
  font-weight: normal;
  text-decoration: none;
  color: var(--color-primary);
}

ol li {
  list-style: disc;
}

blockquote {
  line-height: 1rem;
}
