:root {
  --color-primary: #06339b;
  --color-primary-light: #00e5e5;
  --color-secondary: #ed58f8;
  --color-tertiary: #54e230;
  --color-accent: #ebf146;
  --color-buttons-primary: rgba(0, 0, 0, .4);
  --font-primary: "Open Sans", sans-serif;
  --font-secondary: "Roboto", sans-serif;
}

html {
  font-family: var(--font-primary);
}

h1 {
  font-family: var(--font-secondary);
  font-size: 1.9127rem;
  line-height: 2.6rem;
  color: var(--color-primary);
}

h2 {
  font-size: 1.68rem;
  line-height: 2.275rem;
  color: var(--color-primary);
}

h3 {
  font-weight: normal;
}

h4 {
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.3rem;
}

li, a {
  font-family: var(--font-secondary);
  font-weight: normal;
  text-decoration: none;
  color: var(--color-primary);
}

ol li {
  list-style: disc;
}

blockquote {
  line-height: 1rem;
}

.primary-background-color {
  background-color: var(--color-primary);
}

.primary-light-background-color {
  background-color: var(--color-primary-light);
}

.secondary-background-color {
  background-color: var(--color-secondary);
}

.tertiary-background-color {
  background-color: var(--color-tertiary);
}

.accent-background-color {
  background-color: var(--color-accent);
}

.grey-background-color {
  background-color: #efefef;
}

.hidden {
  display: none;
}

.color-primary {
  color: var(--color-primary);
}
