:root {
  --color-primary: #06339b;
  --color-primary-light: #00e5e5;
  --color-secondary: #f321ff;
  --color-tertiary: #00ef1f;
  --color-accent: #f6ff00;
  --color-buttons-primary: rgba(0, 0, 0, .4);
  --font-primary: "Open Sans", sans-serif;
  --font-secondary: "Roboto", sans-serif;
}

html {
  font-family: var(--font-primary);
}
